
@{
    Layout = "_Layout";
    ViewBag.Title = "Soccer Team";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body class="home">
    <table>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td><img src="~/Images/Arsenal.png" height="50px" widht="50px" /></td>
            <td><img src="~/Images/Chelsea.png" height="50px" widht="50px" /></td>
            <td><img src="~/Images/Burnley.png" height="50px" widht="50px" /></td>
            <td><img src="~/Images/Aston Villa.png" height="50px" widht="50px"></td>
            <td><img src="~/Images/liverpool.png" height="50px" widht="50px" /></td>

        </tr>
    </table>
</body>
</html>
