@model Priyank_P_301112923.Models.ViewModels.LoginModel
@{ 
    ViewBag.Title = "Log In";
    Layout = "_Layout";
}

    <form asp-action="Login" asp-controller="Account" method="post">
        <h2>Log In</h2>
        <input type="hidden" asp-for="ReturnUrl" />
        <p>
            <label asp-for="Name">Name:</label>
            <span asp-validation-for="Name"></span>
            <input asp-for="Name" />
        </p>
        <p>
            <label asp-for="Password">Password:</label>
            <span asp-validation-for="Password"></span>
            <input asp-for="Password" />
        </p>
        <button class="button" type="submit">Log In</button>
    </form>