@model Merchandise
@{
    Layout = "_Layout";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/css/StyleSheet.css" rel="stylesheet" />
    <title>Merchandise</title>
</head>
<body>
    <main>
        <h2>Add Merchandise</h2>
        <form method="post" asp-action="AddMerchandise" asp-controller="Merchandise">
            @Html.Partial("AddMerchandisePartialView")
        </form>
    </main>
</body>
</html>
